{% extends 'RegistroSocios/base.html' %}
{%block title%}registro{%endblock%}
{% block contenido %}
{% load static %}

<link rel="stylesheet" href='{% static "/css/form.css"%}'>


<main>
  <div align=center>
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div align=center style="width:640; height:480;">
            <form action="" method="post">{% csrf_token %}
                <div class="banner">
                 <h1>FORMULARIO CORPCITI</h1>
                </div>
                <div class="item">
                <table>
                    {{form.as_table}}
                </table>
                <br>
                <input class="boton_personalizado" type="submit" value="GRABAR" />
                </div>

            </form>
        </div>
      </div>
    </div>
  </div>
</main>


{%endblock%}